@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-sidebar {
  background: linear-gradient(180deg, rgba(31, 175, 45, 0.88) 0%, #194d7c 86.98%);
}

.searchBar {
  font-size: 1rem;
  color: white;
  width: 100%;
  height: 2rem;
  background: #8697b8;
  border: none;
  outline: none;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  margin-left: 1rem;
}
